.form {
  min-width: 300px;
  display: flex;
  flex-direction: column;

  &__group {
    margin-bottom: 15px;
  }

  &__group:last-of-type {
    margin-bottom: 0
  }
  &__error{
    margin-top: 5px;
    color: red;
    height: 20px;
    font-size: 13px;
  }
}
